<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>785281526054-lcsvln1h4f0k5e2r4kd1qunjgj71r1jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785281526054-lcsvln1h4f0k5e2r4kd1qunjgj71r1jm</string>
	<key>API_KEY</key>
	<string>AIzaSyBcHgqsPFrdbiZtS0mcZgazq_1YRKF6g_0</string>
	<key>GCM_SENDER_ID</key>
	<string>785281526054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.firebeststarting</string>
	<key>PROJECT_ID</key>
	<string>fir-test-92a38</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-92a38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785281526054:ios:3b2ca8b6c4289aba</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-92a38.firebaseio.com</string>
</dict>
</plist>